<%= form_with model: first_app_post do |form| %>
  <% if form.object.errors.any? %>
    <div>
      <% form.object.errors.full_messages.each do |message| %>
        <div> <%= message %></div>
      <% end %>
    </div>
  <% end %>

  <div>
    <%= form.label :titl %>
    <%= form.text_field :titl %>
  </div>

  <div>
    <%= form.label :content %>
    <%= form.rich_text_area :content %>
  </div>

  <div>
    <%= form.label :published_at %>
    <%= form.datetime_select :published_at, include_blank: true %>

  </div>

  <%= form.button %>
<% end %>